.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #E6E6FA;

}


footer {
    background-color: #DDA0DD;
    padding: 25px;
}

.carousel-inner img {
    width: 100%;
    /* Set width to 100% */
    margin: auto;
    min-height: 200px;
}


@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}

.font {
    font-family: sans-serif;
    color: black;
}

.well {
    border-bottom-style: hidden;
}

time.icon {
    font-size: 1em;
    /* change icon size */
    display: block;
    position: relative;
    width: 7em;
    height: 7em;
    background-color: #fff;
    margin: 2em auto;
    border-radius: 0.6em;
    box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transform: rotate(0deg) skewY(0deg);
    -webkit-transform-origin: 50% 10%;
    transform-origin: 50% 10%;
}

time.icon * {
    display: block;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}

time.icon strong {
    position: absolute;
    top: 0;
    padding: 0.4em 0;
    color: #fff;
    background-color: #D8BFD8;
    border-bottom: 1px dashed #DA70D6;
    box-shadow: 0 2px 0 #FFFF66;
}

time.icon em {
    position: absolute;
    bottom: 0.3em;
    color: #D8BFD8;
}

time.icon span {
    width: 100%;
    font-size: 2.8em;
    letter-spacing: -0.05em;
    padding-top: 0.8em;
    color: #2f2f2f;
}

time.icon:hover,
time.icon:focus {
    -webkit-animation: swing 0.6s ease-out;
    animation: swing 0.6s ease-out;
}

@-webkit-keyframes swing {
    0% {
        -webkit-transform: rotate(0deg) skewY(0deg);
    }

    20% {
        -webkit-transform: rotate(12deg) skewY(4deg);
    }

    60% {
        -webkit-transform: rotate(-9deg) skewY(-3deg);
    }

    80% {
        -webkit-transform: rotate(6deg) skewY(-2deg);
    }

    100% {
        -webkit-transform: rotate(0deg) skewY(0deg);
    }
}

@keyframes swing {
    0% {
        transform: rotate(0deg) skewY(0deg);
    }

    20% {
        transform: rotate(12deg) skewY(4deg);
    }

    60% {
        transform: rotate(-9deg) skewY(-3deg);
    }

    80% {
        transform: rotate(6deg) skewY(-2deg);
    }

    100% {
        transform: rotate(0deg) skewY(0deg);
    }
}


.mycard {
    height: 500px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;

}

.mycard:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);


}

.mycard_top {
    border-radius: 8px 8px 0 0;
    background: white;
}

.mycardcontent {
    padding-left: 8px;
    padding-top: 4px;
    text-align: left;
}

.NCT {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

.primary_title {
    text-align: left;
    font-size: 22px;
    color: black;
    font-weight: 500;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.primary_title_second {
    text-align: left;
    font-size: 20px;
    color: darkgrey;
    font-weight: 500;
    margin-bottom: 0px;
    padding-bottom: 0px;
}



.secondary {
    color: #656565;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    padding-top: 0px;
    margin-top: 0px;

}

.secondary_small {
    color: #DDA0DD;
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    padding-top: 0px;
    margin-top: 0px;
    text-decoration: underline;

}

.secondary_small_one {
    color: #DDA0DD;
    font-size: 18px;
    font-weight: 500;
    padding-top: 0px;
    margin-top: 0px;
    text-decoration: underline;

}





.icons {
    text-align: right;
    font-size: 22px;


}

.link1 {
    float: left;
    margin-right: 8px;
}


.form {
    align-content: center;


}

.spacer {
    margin-top: 100px;
    margin-bottom: 100px;
    color: lightyellow;
}

.yellowrow {

    height: 400px;
    background-color: lightyellow;
}



.primarymove {
    margin-left: 300px;
    margin-top: 175px;
    
}


.primarymoveOne {
   padding-top: 185px;

}






linkONe {
    font-family: sans-serif, "Verdana";
    letter-spacing: 5px;
    text-align: center;
    text-shadow: 4px 4px 8px blue;
    color: black;
}
